{% load static %}
<div class="carousel-inner">
    <!-- Single item -->
    <div class="carousel-item active" style="position: relative;">
        <img
            src="{% static 'assets/img/test.jpg' %}"
            class="d-block w-100"
            alt="Sunset Over the City"
            style="opacity: 0.8;"
        />
        <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center; color: black;">
            <h5 style="font-size: 4em; margin: 0; font-weight: 400;">StudyNet</h5>
            <p style="font-size: 3em; margin: 0; font-weight: 200;">Курсы и уроки для твоего успеха!</p>
        </div>
    </div>
</div>
