{% load static %}

<section class="showcase">
    <div class="container-fluid p-0">
        <div class="row g-0">
            <div class="col-lg-6 order-lg-2 text-white showcase-img"
                 style="background-image: url('{% static 'assets/img/img.png' %}')"></div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <h2>"Мне все равно, что они украли мою идею. Меня заботит, что у них не было своих."</h2>
                <p class="lead mb-0">Никола Тесла</p>
            </div>
        </div>
        <div class="row g-0">
            <div class="col-lg-6 text-white showcase-img"
                 style="background-image: url('{% static 'assets/img/img_1.png' %}')"></div>
            <div class="col-lg-6 my-auto showcase-text">
                <h2>"Везде исследуйте всечасно, Что есть велико и прекрасно."</h2>
                <p class="lead mb-0">Михаил Васильевич Ломоносов</p>
            </div>
        </div>
        <div class="row g-0">
            <div class="col-lg-6 order-lg-2 text-white showcase-img"
                 style="background-image: url('{% static 'assets/img/img_2.png' %}')"></div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <h2>"Все, что человеческий разум способен понять и во что он способен поверить, достижимо."</h2>
                <p class="lead mb-0">Напалеон Хилл</p>
            </div>
        </div>
    </div>
</section>