{% extends 'base.html' %}
{% load mediapath_tag %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-12">
            <img src="{% mediapath lesson.image %}" class="img-fluid" alt="Lesson Image"/>
            <h2 class="display-4">{{ lesson.title }}</h2>
            <p class="lead">{{ lesson.description }}</p>
            <p class="lead">{{ lesson.text }}</p>
            <p class="lead"><a href="{{ lesson.video }}" target="_blank">Смотреть видео</a></p>
        </div>
        <div class="col-md-12 mt-2">
            <a href="{% url 'materials:lesson_delete' lesson.pk %}" class="btn btn-outline-danger">Удалить</a>
            <a href="{% url 'materials:lesson_update' lesson.pk %}" class="btn btn-outline-warning">Изменить</a>
        </div>
    </div>
</div>
{% endblock %}
