{% extends 'base.html' %}

{% block content %}
<div class="container mt-5 mb-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2>{{ title }}</h2>
            <p>Вы уверены, что хотите удалить урок "{{lesson.title}}"?</p>
            <form method="post" action="{% url 'materials:lesson_delete' lesson.pk %}">
                {% csrf_token %}
                <input type="submit" class="btn btn-danger" value="Удалить">
            </form>
            <div class="mt-2">
                <a href="{% url 'materials:lesson_detail' lesson.pk %}" class="btn btn-secondary">Отмена</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}